.next/
node_modules/
.env*
!.env.example
dev-server*.log
tsconfig.tsbuildinfo

uploads/*
!uploads/.gitkeep
output/*
!output/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
public/output/*
!public/output/.gitkeep

.vercel/
npm-debug.log*
